body{
  position: relative;
}
#contact_modal{
  position: fixed;
  height: 100vh;
  top:0;
  left: 0;
  right: 0;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgb(1,0,0,0.2);
  z-index: 1;
}
.modal{
  border-radius: 5px;
  width: 669px;
  background-color: #DB8876;
  padding: 15px 35px 38px 35px;
  color: #312E2E;
  &-header{
    display: flex;
    justify-content: space-between;  
    align-items: baseline;
    margin-bottom: 19px;
  }
  &-heading{
    font-size: $photographeFontLarge;
  }
  &-close{
    width: 30px;
    height: 30px;
    object-fit: cover;
  }
  &--aniOpen{
    animation: openModal 0.5s ease-in-out;
  }
  
  &--aniClose{
    animation: closeModal 0.5s ease-in-out;
  }

  &-aniFormInvalid{
    animation: aniFormInvalid 300ms ease-in-out 3;
  }
  &-aniFormInvalidRepeat{
    animation: aniFormInvalidAgain 300ms ease-in-out 3;
  }
}
.form{
  &Data{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
    font-size: $acceuilCardFontLarge;
    &-text{
      height: 68px;
      border: none;
      outline:none;
      font-size: inherit;
      border-radius:5px;
      &--area{
        height: 170px;
        resize: none;
      }
      &--invalid{
        background-color: rgb(223, 85, 85);
        border: 2px solid rgb(150, 15, 15);
      }
      &--valid{
        background-color: rgb(63, 167, 71);
        border: 2px solid rgb(45, 122, 14);
      }
    }
    &[data-error]::after{
      content: attr(data-error);
      color: black;
      font-size: 16px;
      margin: 10px 0 0;
    }
  }
  & button{
    margin-top:26px;
  }

}


@keyframes openModal{
  from{
    opacity: 0;
    transform: translateY(-150px);
  }
  100%{
    opacity: 1;

  }
}

@keyframes closeModal{
  from{
    opacity: 1;
  }
  100%{
    opacity: 0;
    transform: translateY(-150px);
  }
}

@keyframes aniFormInvalid{
  from{
    transform: translateX(10px);
  }
  to{
    transform: translateX(-10px);
  }
}

@keyframes aniFormInvalidAgain{
  from{
    transform: translateX(10px);
  }
  to{
    transform: translateX(-10px);
  }
}