#_main{
  padding:0 100px;
}
// section introduction of photographer
._photographeIntro{
  padding-left:50px;
  padding-right: 50px;
  width: 100%;
  height: 313px;
  border-radius: 5px;
  background-color: $colorBackgroundLight;
  &_infos{
    font-family: $fontFamilyBase;
    font-weight: 400;
    & h2{
      font-size: $photographeFontLarge;
      line-height: 83px;
    }
    & p.article_location{
      margin-top:16px;
      margin-bottom: 19px;
      font-size: $photographeFontMedium;
      line-height: 31px;
    }
    & p.article_slogan{
      font-size: $photographeFontSmall;
      line-height: 23px;
      color:$colorTextLight;
    }
  }
}

// trie
._selectSection{
  margin-top:20px;
  margin-bottom:58px;
  height: 30px;
  display: grid;
  grid-template-columns: max-content 170px;
  gap: 30px;
  font-size: $photographeFontSmall;
}
._select{
  width: 170px;
  position: relative;
  &-arrow-up{
    font-size: 15px;
    position: absolute;
    right: 20px;
    top:20px;
    z-index: 3;
    color: white;
  }
  &-list,&-btn{
    list-style: none;
    width: 100%;
    position: absolute;
    top:0;
    border: none;
    background-color: $colorBackgroundDark;
    color: white;
    border-radius: 5px;
    overflow: hidden;
  }
  &-btn, &-item{
    width: 100%;
    height: 59px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:20px;
    font-size: $photographeFontSmall;
    font-family: $fontFamilyBase;
  }
  &-item:nth-child(1)::before, &-item:nth-child(1)::after{
    content: '';
    border-top: 1px solid whitesmoke;
    position: absolute;
    left: 20px;
    right: 20px;
    background-color: transparent;
  }
  &-item:nth-child(1)::before{
    top:59px;
  }
  &-item:nth-child(1)::after{
    bottom:59px;
  }
  &-item:hover, &-item--selected{
    background-color: darken($colorBackgroundDark, 8%);
  }

  &-list{
    opacity: 0;
    transform: scaleY(59px) ;transform-origin:top;
    z-index: -1;
  }
  &-btn{
    z-index: 1;
  }

  &-list--visible{
    transform: scaleY(100%);
    opacity:1;
    z-index: 2;
    transition: opacity 0.3s ease-out, transform 0.5s ease-in-out;
  }

  &-arrow--up{
    transform: rotate(-0.5turn);
    transition: transform 0.3s ease-out;
  }
}




// section media
._photographeMedias{
  width: 100%;
  display: grid;
  grid-template-columns: 350px 1fr 350px;
  row-gap: 20px;
}
._articleMedia{
  margin-left:auto;
  margin-right: auto;
  width: 350px;
  min-height: 351px;
  display: grid;
  grid-template-rows: 300px 1fr;
  &-media{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
  }
  &-infos{
    color:$colorTextDark;
    font-size: $photographeFontMedium;
    display: grid;
    padding:10px 0;
    grid-template-columns: 1fr max-content 30px;
    align-items: start;
    & h3{
      font-weight: 400;
      font-size: $photographeFontMedium;
    }
    & p, .fa-heart{
      display: flex;
      justify-content: end;
      align-items: center;   
      height: 31px;
    }
  }
}
//  section encart
.encart{
  background-color: transparent;
  position: sticky;
  bottom: 0;
  display: flex;
  justify-content: end;
  & div{
    background-color: #DB8876;
    margin-right:-50px;
    width: fit-content;
    padding:21px 34px;
    font-size: $photographeFontMedium;
    border-radius: 5px 5px 0 0;
    & i{
      margin-right: 40px;
    }
  }
}
