// :root {
// }
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
// input:disabled{
//   background-color: grey;
// }
// input:disabled:hover{
//   background-color: grey;
//   cursor: not-allowed;
// }