$colorTextBase : black;
$colorTextDark: #901C1C;
$colorTextMdedium:  #D3573C;
$colorTextLight:#525252;
$colorPrimaryText: #D3573C;
$colorBackgroundBase:#E5E5E5;
$colorBackgroundDark: $colorTextDark;
$colorBackgroundMedium: $colorTextMdedium;
$colorBackgroundLight:#FAFAFA;

//--font------//
$fontFamilyBase: "DM Sans", sans-serif;
$acceuilCardFontLarge:36px;
$acceuilCardFontMedium:13px;
$acceuilCardFontSmall:10px;
$acceuilCardFontSX:9px;

